/*body {
	font-family: 'Crimson Text', serif;
	background-color: #e0f2f1;
}
*/

body {
	overflow-x: hidden; 
}

#logo-img {
	margin-top: -7px;
}

#collapsable-items {
	text-align: center;	
}
#collapsable-items span {
	font-weight: bold;
}
#collapsable-nav>ul>li>a:hover {
	background-color: #009688;	
}

#header-nav {
	background-color: #80cbc4;
}

.navbar-header button.navbar-toggle {
	border: 3px solid #009688;
}

.glyphicon {
	color: #00695c;
}

#header-nav {
	margin-bottom: 6px;
}

/*#search{
	margin: 5px;
}

#search>div {
	padding: 0;
}*/
#wrapper {
	padding-left: 0;
}

#sideMenu {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background-color: #000;
}

#map {
	width:100%; 
	height:800px;
	position: absolute;
}

footer {
	background-color: #80cbc4;
	bottom: 0px;
	position: float;
	height: 30px;
}

footer div {
	padding: 5px;
}